   <!--===========================================================================
                                        News Section
    ==============================================================================-->

{% if latest_news %}
<section id="news" class="section-bg-grey">
    <div class="container" >

        <header class="section-header">
            <h3>Latest News</h3>
            <p></p>
        </header>

        <div class="row">
            <div class="col-lg-12">

              {% if latest_news |count == 1  %}
                <div class="owl-carousel news-block-carousel wow fadeInUp">

              {% elif latest_news |count == 2 %}
                <div class="owl-carousel news-two-carousel wow fadeInUp">

              {% elif latest_news |count > 2 %}
                <div class="owl-carousel news-carousel">
              {% endif %}  
              
              {% for news in latest_news %}
                
                  <div class="news-item">

                      <h3>{{ news.news_title }}</h3>
                      <p>{{ news.news_sub_title }}</p>
                      <p>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ news.name }}">
                              Read More
                          </button>
                      </p>
                  </div>
                {% endfor %}
            </div>
          </div>
          
      </div>
  




  {% for news in latest_news %}
  <!-- Modal -->
  <div class="modal fade" id="{{ news.name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>{{ news.news_title }}</strong></h5>
        </div>
        <div class="modal-body">
          <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
            {{ news.news_details }}
            <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}
</section>