
<section class="portfolio" >
    <div class="container-fluid fadeIn" id="news">
        <h1 class="text-center my-3">Lates News</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto">

              {% for news in latest_news %}
            <div class="carousel-item col-md-4 {% if loop.index is divisibleby 4 %}active{% endif %}">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{{ news.news_title }}</h4>
                  <p class="card-text">{{ news.news_details }}</p>
                  <p class="card-text">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ news.name }}">
                          Read More
                      </button>
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 text-center mt-4">
                <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                  <i class="fa fa-lg fa-chevron-left"></i>
                </a>
                <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
                  <i class="fa fa-lg fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
  </section>

  {% for news in latest_news %}
  <!-- Modal -->
  <div class="modal fade" id="{{ news.name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ news.news_title }}</h5>
        </div>
        <div class="modal-body">
            {{ news.news_details }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
