
<section id="talsliders" class="section-bg">

<div class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  
  <ul class="carousel-indicators">
    {% for item in intranet_header %}
        <li data-target="#talsliders" data-slide-to="{{loop.index}}" class="{% if loop.index == 1 %}active{% endif %}" ></li>
    {% endfor %}
  </ul>
  
  <!-- The slideshow -->
  
  <div class="carousel-inner wow fadeInUp">
      {% for item in intranet_header %}
      <div class="item carousel-item {% if loop.index == 1 %}active{% endif %}">
        <img class="img" src="{{ item.file_attach }}" height="100%" width="100%">
      </div>
      {% endfor %}
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#talsliders" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#talsliders" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  
</div>

</section><!-- #slider -->
