<!-- Page Content -->
<div class="container">
  <div class="row">
      <div class="col-md-8 mb-5">
          <h2>FINANCE</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
          <hr>
      </div>
  </div>

  <div class="row">
  {% block finance %}
  {% for doc in fiancne %}
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="{{ doc.file_icon}}" alt="">
        <div class="card-body">
          <h4 class="card-title">{{ doc.folder_name }}</h4>
          <p class="card-text">{{ doc.file_description }}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    {% endfor %}{% endblock %}
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->