<!-- Setting Page Content with Main Heading -->
  {% for group, items in document_manager | groupby('top_menu') %}
      {% for menu in navbar_menu %}
        {% if menu.intranet_menu == group %}
    <section class="portfolio {{ menu.section_background }}" id="{{ group }}">
        {% endif %}
      {% endfor %}
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h1 class="section text-center my-3">{{ group }}</h1>
                <p class="section-description"></p>
              </div>
              {% for sub_heading, list in items |  groupby('sub_menu') %}
                        <div class="row">
                            <div class="col-lg-12">
                              <ul id="portfolio-flters">
                                <li data-filter=".{{ sub_heading }}">{{ sub_heading }}</li>
                              </ul>
                            </div>
                        </div>

                        
                        <div class="row" id="portfolio-wrapper">
                            {% for document in list %}
                            <div class="col-lg-3 col-md-6 service wow fadeInUp {{ sub_heading }}">
                                    <div class="box">
                                      <h4 class="title"><a href="">{{ document.file_name }}</a></h4>
                                      <p class="description">{{ document.file_description }}</p>
                                   
                                    <div class="box-footer">
                                        <a href="{{ document.file_url}}" class="btn btn-info">Download</a>
                                      </div>
                                    </div>
                            </div>
                            
                        
                      {% endfor %}
                      </div>
                      {% endfor %}
            </div>
          <!-- /.row -->
      </section>
  {% endfor %}