{% include "www/base/header.html" %}

{% for image in intranet_header %}
<header class="masthead text-white text-center" style="background-image: url('{{ image.file_attach }}')";>
    <img class="img-fluid d-block mx-auto"alt="">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">{{ image.intranet_title }}</h1>
      </div>
    </div>
  </div>
</header>
{% endfor %}

{% block body %}

<!-- Page Content -->
{% for doc in top_menu %}
<section class="{{ doc.section_class }} {{ doc.section_background }}" id="{{ doc.intranet_menu }}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ doc.intranet_menu }}</h2>
            <hr>
            <div class="mx-auto">
              <div class="bg-faded rounded p-5">
            <p class="text-muted mb-0">{{ doc.intranet_menu_details }}</p>
              </div>
            </div>
        </div>
    </div>
  
    <div class="row">
    {% for document in document_manager %}
      {% if document.section == doc.intranet_menu %}
      <div class="col-md-2 mb-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ document.file_name }}</h6>
            </div>
            {% for icon in file_image %}
              {% if icon.name == document.file_type %}
          <img class="card-img-top" src="{{ icon.file_icon }}" alt="">
              {% endif %}
            {% endfor %}
          <div class="card-body">
            <p class="card-text">{{ document.file_description }}</p>
          </div>
          <div class="card-footer">
            <a href="{{ document.file_attach}}" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!-- /.row -->
</section>
{% endfor %}
{% endblock %}

{% block footer %}
{% include "www/base/footer.html" %}
{% endblock %}