{% for group, items in document_manager | groupby('top_menu') %}
{% for menu in navbar_menu %}
  {% if menu.intranet_menu == group %}
<section class="portfolio {{ menu.section_background }}" id="{{ group }}">
  {% endif %}
{% endfor %}
    <!-- Classic tabs -->
    <div class="container-fluid">
        <h1 class="text-center my-3">{{ group }}</h1>

    <div class="tabs">
        <div class="tab-button-outer">
          <ul id="tab-button">
              {% for heading, list in items | groupby('sub_menu') %}
            <li class="{% if loop.index is divisibleby 2 %}active{% endif %}"><a href="#{{ heading }}">{{ heading }}</a></li>
              {% endfor %}
          </ul>
        </div>

        <div class="tab-content">
          {% for document in list %}
          {% if menu.intranet_menu == document.top_menu %}
        <div id="{{ document.sub_menu }}">
                <div class="card {% if loop.index is divisibleby 2 %}active{% endif %}" style="width: 15rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ document.file_name }}</h5>
                      <p class="card-text">{{ document.file_description }}</p>
                      <a href="{{ document.file_attach}}" class="btn btn-{{ document.download_button }}">Download</a>
                    </div>
                
              {% endif %}
            {% endfor %}
          </div>
        </div>
       
      </div> <!--Tabs -->

      </div>
   </div>  <!--Container -->
    <!-- Classic tabs -->
    </section>
{% endfor %}